{% extends '_layouts/dashboard.html.twig' %}
{% block title %}Dimensions{% endblock %}
{% block pageid %}dashboard {% endblock %}
{% block main %}
<div class="user-dashboard">
  <div class="user-stream col-md-6">
    {% for notice in notices1 %}
    <div class="post notice">
      <div class="post-content">
        <div class="post-body">
          <h3>{{ notice.title }}</h3>
          <p>{{ notice.content }}</p>
        </div>
        <footer class="post-footer">
          <div class="btn-group btn-sm">
            {% if notice.link %}
            <a href="{{ notice.link }}" class="btn btn-flat btn-sm btn-info">Details</a> {% endif %}
            <button class="btn btn-flat btn-sm"><i class="material-icons">star</i></button>
            <button class="btn btn-flat btn-sm"><i class="material-icons">comment</i></button>
          </div>
        </footer>
      </div>
    </div>
    {% endfor %}
    {% if upcomingEvents is not empty %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="margin: 0"><i class="material-icons">event</i>Events this week</h3>
      </div>
      <div class="panel-body">
        <div class="list-group event-list">
          {% for event in upcomingEvents %}
          <div class="list-group-item event">
            <div class="row-content">
              <h4 class="list-group-item-heading">{{ event.name }}</h4>
              <p class="list-group-item-text">
                {{ event.description }}
              </p>
              <ul class="event-info">
                <li><i class="material-icons">schedule</i> {{ event.date }}</li>
                <li><i class="material-icons">place</i> {{ event.place }}</li>
              </ul>
            </div>
            <div class="btn-group btn-sm">
              <a class="btn btn-flat btn-info btn-sm" href="{{ event.link }}">Details</a>
              <button class="btn btn-flat btn-sm"><i class="material-icons">add_alert</i></button>
              <button class="btn btn-flat btn-sm"><i class="material-icons">comment</i></button>
            </div>
          </div>
          <div class="list-group-separator"></div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% for notice in notices1 %}
    <div class="post notice">
      <div class="post-content">
        <div class="post-body">
          <h3>{{ notice.title }}</h3>
          <p>{{ notice.content }}</p>
        </div>
        <footer class="post-footer">
          <div class="btn-group btn-sm">
            {% if notice.link %}
            <a href="{{ notice.link }}" class="btn btn-flat btn-sm btn-info">Details</a> {% endif %}
            <button class="btn btn-flat btn-sm"><i class="material-icons">star</i></button>
            <button class="btn btn-flat btn-sm"><i class="material-icons">comment</i></button>
          </div>
        </footer>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="user-secondary-stream col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 style="margin: 0"><i class="material-icons">notifications_none</i>Reminders</h3>
      </div>

    </div>
  </div>
</div>
{% endblock %}
